*  {
      font-family: 'Electrolize', sans-serif;
      font-family: 'Work Sans', sans-serif;
}

:root {
      --main-color: #a59ccf;
      --second-color: #605c7b;
      --third-color: #ffff00;
      --text-color: black;
}

.main-color {
      color: var(--main-color);
}

.second-color {
      color: var(--second-color);
}

.third-color {
      color: var(--third-color);
}

.text-color {
      color: var(--text-color);
}

ul {
      list-style-type: none;
}

a {
      text-decoration: none;
      color: black;
}

.main-color {
      background-color: #a59ccf;;
}

.footer {
      
      background-color: var(--main-color);
      width: 100%;
      height: 200px;
      bottom: 0px;
      padding-bottom: 260px;
}

@media screen and (max-width: 600px) {
      .footer {
            padding-bottom: 700px;
      }
}

.button {
      background-color: var(--main-color);
      color: var(--third-color);
}
.button:hover{
      background-color: var(--second-color);
      color: var(--third-color);
}

